# Back To Basics
##  Simple but powerful python techniques

# [Colab version](https://colab.research.google.com/drive/1nyZIB_zC4iFe4JK9nYvEZyIJsVQrexFL?usp=sharing)

# Contents:
* ```String``` tricks
* The ```os``` module 
* The ```dict()``` constructor
* Tricks with lists
* ```Numpy``` arrays and maths

We've covered some python fundamentals in the [**BasicBitsPython**](https://github.com/UoMMIB/Python-Club/blob/master/Tutorials/BasicBitsPython.ipynb) notebook,  including:
* Comments and variables
* Loops
* Functions
* Dictionaries
and we used what we'd learnt to [translate](https://en.wikipedia.org/wiki/Translation_(biology)) some DNA into the amino acid sequence that it codes for, which folds up to look like this:

# Background - üî¨
In this tutorial, we'll look at some simple, but powerful commands to find out more about this protein. Here's the sequence that we translated from the DNA:
```
MTIKEMPQPKTFGELKNLPLLNTDKPVQALMKIADELGEIFKFEAPGRVTRYLS
SQRLIKEACDESRFDKNLSQALKFVRDFAGDGLFTSWTHEKNWKKAHNILLPSFSQQAMKGYHAMM
VDIAVQLVQKWERLNADEHIEVPEDMTRLTLDTIGLCGFNYRFNSFYRDQPHPFITSMVRALDEAM
NKLQRANPDDPAYDENKRQFQEDIKVMNDLVDKIIADRKASGEQSDDLLTHMLNGKDPETGEPLDD
ENIRYQIITFLIAGHETTSGLLSFALYFLVKNPHVLQKAAEEAARVLVDPVPSYKQVKQLKYVGMV
LNEALRLWPTAPAFSLYAKEDTVLGGEYPLEKGDELMVLIPQLHRDKTIWGDDVEEFRPERFENPS
AIPQHAFKPFGNGQRACIGQQFALHEATLVLGMMLKHFDFEDHTNYELDIKETLTLKPEGFVVKAK
SKKIPLGGIPSPSTEQSAKKVRKKGC*
```
Each letter represents an [**amino acid**](https://en.wikipedia.org/wiki/Amino_acid) - each with the same 'backbone':
![](glycine.png)

But each has its own side-chain, with its own chemical properties, like charge and other features that make the chain of amino-acids fold into a functioning protein.

![](amino-acids.png)

Amino acids are chained together by their backbones, here's  a chain of ```MTI``` :

![](peptide.png)

In our case, the chain of amino acids folds around a [**heme**](https://en.wikipedia.org/wiki/Heme_B), a red molecule which is used to oxidise fats - a controlled burn in the centre of the protein. 

![](heme.png)

Which fats can get into the centre of the protein is determined by the enzymes shape, and the chemical properties of the tunnel that leads to the core. We can find the structures of some of these proteins using a technique called [**X-ray crystallography**](https://en.wikipedia.org/wiki/X-ray_crystallography). Here's a snapshot of our enzyme - the [**Cytochrome P450**](https://en.wikipedia.org/wiki/Cytochrome_P450): [**BM3**](BM3-Reveiw-Andy-Munro.pdf).

[**PDB ID: 1bu7**](https://www.ebi.ac.uk/pdbe/entry/pdb/1bu7/index) - see this link for an interactive view

![](tutorial-data/1bu7-molstar-image.png)


The ability to 'do chemistry' is what makes this protein an [**enzyme**](https://en.wikipedia.org/wiki/Enzyme), which are an important part of the biotechnology research we do at the [Manchester Institute of Biotechnology
](https://en.wikipedia.org/wiki/Manchester_Institute_of_Biotechnology) - especially [**engineering**](https://en.wikipedia.org/wiki/Cytochrome_P450_engineering) them to do new chemical reactions that can help with agriculture, drug development and making industrial chemical processes more environmentally friendly.

# Problem #1 - ```string``` parsing
Here's a table of some calculated chemical properties of each of the 20 amino acids listed above. We could have found this on a web page. 
We don't have time to download the information in a clean file, we need it now! üèÉ

In this section we copy and paste the table into our notebook as a ```string``` and extract the data into a usable format!


<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MolWT</th>
      <th>LogP</th>
      <th>HBondDonors</th>
      <th>HBondAcceptors</th>
      <th>nAromaticRings</th>
      <th>nHeteroAtoms</th>
      <th>nRotatableBonds</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>89.047678</td>
      <td>-0.58180</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>C</th>
      <td>121.019749</td>
      <td>-0.67190</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>D</th>
      <td>133.037508</td>
      <td>-1.12700</td>
      <td>4</td>
      <td>5</td>
      <td>0</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>E</th>
      <td>147.053158</td>
      <td>-0.73690</td>
      <td>4</td>
      <td>5</td>
      <td>0</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>F</th>
      <td>165.078979</td>
      <td>0.64100</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>G</th>
      <td>75.032028</td>
      <td>-0.97030</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>H</th>
      <td>155.069477</td>
      <td>-0.63590</td>
      <td>4</td>
      <td>5</td>
      <td>1</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>I</th>
      <td>131.094629</td>
      <td>0.44440</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>K</th>
      <td>146.105528</td>
      <td>-0.47270</td>
      <td>5</td>
      <td>4</td>
      <td>0</td>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>L</th>
      <td>131.094629</td>
      <td>0.44440</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>M</th>
      <td>149.051050</td>
      <td>0.15140</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>N</th>
      <td>132.053492</td>
      <td>-1.72630</td>
      <td>5</td>
      <td>5</td>
      <td>0</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>P</th>
      <td>115.063329</td>
      <td>-0.17700</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Q</th>
      <td>146.069142</td>
      <td>-1.33620</td>
      <td>5</td>
      <td>5</td>
      <td>0</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>R</th>
      <td>174.111676</td>
      <td>-1.33843</td>
      <td>7</td>
      <td>6</td>
      <td>0</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>S</th>
      <td>105.042593</td>
      <td>-1.60940</td>
      <td>4</td>
      <td>4</td>
      <td>0</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>T</th>
      <td>119.058243</td>
      <td>-1.22090</td>
      <td>4</td>
      <td>4</td>
      <td>0</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>V</th>
      <td>117.078979</td>
      <td>0.05430</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>W</th>
      <td>204.089878</td>
      <td>1.12230</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Y</th>
      <td>181.073893</td>
      <td>0.34660</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>4</td>
      <td>5</td>
    </tr>
  </tbody>
</table>

In [1]:
# I've used triple quotes to make a multi-line string

data = '''MolWT	LogP	HBondDonors	HBondAcceptors	nAromaticRings	nHeteroAtoms	nRotatableBonds
A	89.047678	-0.58180	3	3	0	3	3
C	121.019749	-0.67190	3	3	0	4	4
D	133.037508	-1.12700	4	5	0	5	4
E	147.053158	-0.73690	4	5	0	5	5
F	165.078979	0.64100	3	3	1	3	4
G	75.032028	-0.97030	3	3	0	3	2
H	155.069477	-0.63590	4	5	1	5	4
I	131.094629	0.44440	3	3	0	3	6
K	146.105528	-0.47270	5	4	0	4	7
L	131.094629	0.44440	3	3	0	3	6
M	149.051050	0.15140	3	3	0	4	6
N	132.053492	-1.72630	5	5	0	5	4
P	115.063329	-0.17700	2	3	0	3	1
Q	146.069142	-1.33620	5	5	0	5	5
R	174.111676	-1.33843	7	6	0	6	6
S	105.042593	-1.60940	4	4	0	4	4
T	119.058243	-1.22090	4	4	0	4	5
V	117.078979	0.05430	3	3	0	3	5
W	204.089878	1.12230	4	4	2	4	4
Y	181.073893	0.34660	4	4	1	4	5'''

data # try running print(data) - what's the difference?

'MolWT\tLogP\tHBondDonors\tHBondAcceptors\tnAromaticRings\tnHeteroAtoms\tnRotatableBonds\nA\t89.047678\t-0.58180\t3\t3\t0\t3\t3\nC\t121.019749\t-0.67190\t3\t3\t0\t4\t4\nD\t133.037508\t-1.12700\t4\t5\t0\t5\t4\nE\t147.053158\t-0.73690\t4\t5\t0\t5\t5\nF\t165.078979\t0.64100\t3\t3\t1\t3\t4\nG\t75.032028\t-0.97030\t3\t3\t0\t3\t2\nH\t155.069477\t-0.63590\t4\t5\t1\t5\t4\nI\t131.094629\t0.44440\t3\t3\t0\t3\t6\nK\t146.105528\t-0.47270\t5\t4\t0\t4\t7\nL\t131.094629\t0.44440\t3\t3\t0\t3\t6\nM\t149.051050\t0.15140\t3\t3\t0\t4\t6\nN\t132.053492\t-1.72630\t5\t5\t0\t5\t4\nP\t115.063329\t-0.17700\t2\t3\t0\t3\t1\nQ\t146.069142\t-1.33620\t5\t5\t0\t5\t5\nR\t174.111676\t-1.33843\t7\t6\t0\t6\t6\nS\t105.042593\t-1.60940\t4\t4\t0\t4\t4\nT\t119.058243\t-1.22090\t4\t4\t0\t4\t5\nV\t117.078979\t0.05430\t3\t3\t0\t3\t5\nW\t204.089878\t1.12230\t4\t4\t2\t4\t4\nY\t181.073893\t0.34660\t4\t4\t1\t4\t5'

# ```\t``` & ```\n```

```\``` is an [**escape character**](https://en.wikipedia.org/wiki/Escape_character) - it precedes a character that needs special treatment. In this case:
* ```\t``` means ```tab``` 
* ```\n``` means ```newline```

# The ```io``` module

In [2]:
import pandas as pd
import io

pd.read_csv(io.StringIO(data), delimiter = '\t')

,MolWT,LogP,HBondDonors,HBondAcceptors,nAromaticRings,nHeteroAtoms,nRotatableBonds
A,89.047678,-0.58180,3,3,0,3,3
C,121.019749,-0.67190,3,3,0,4,4
D,133.037508,-1.12700,4,5,0,5,4
E,147.053158,-0.73690,4,5,0,5,5
F,165.078979,0.64100,3,3,1,3,4
G,75.032028,-0.97030,3,3,0,3,2
H,155.069477,-0.63590,4,5,1,5,4
I,131.094629,0.44440,3,3,0,3,6
K,146.105528,-0.47270,5,4,0,4,7
L,131.094629,0.44440,3,3,0,3,6
M,149.051050,0.15140,3,3,0,4,6
N,132.053492,-1.72630,5,5,0,5,4
P,115.063329,-0.17700,2,3,0,3,1
Q,146.069142,-1.33620,5,5,0,5,5
R,174.111676,-1.33843,7,6,0,6,6
S,105.042593,-1.60940,4,4,0,4,4
T,119.058243,-1.22090,4,4,0,4,5
V,117.078979,0.05430,3,3,0,3,5
W,204.089878,1.12230,4,4,2,4,4
Y,181.073893,0.34660,4,4,1,4,5

# How about with ```string``` tricks?

Using the ```io``` module is very convenient for reading data, but how about some generally useful techniques with strings and basic datatypes? In this section we'll use some techniques that don't rely on importing modules to turn our string into something useable.

# Exercise
Here are the steps we'll take to get a ```dictionary``` of our data, which we can easily use to look up molecular properties of each amino acid.
1. Split the ```data``` string into rows - ```split()```
2. Split the rows into columns - ```split()```
3. Use ```for``` loops and list indexing to extract: coulmn headers, table index, table entry values like:
```python
['MolWT',  'LogP',  'HBondDonors',  'HBondAcceptors',  'nAromaticRings',  'nHeteroAtoms',  'nRotatableBonds']
&
['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']
```
4. Use the coulmn headers, table index, table entry values to make a dictionary for an amino acid like:

```python
# for A
{'MolWT': '89.047678',
  'LogP': '-0.58180',
  'HBondDonors': '3',
  'HBondAcceptors': '3',
  'nAromaticRings': '0',
  'nHeteroAtoms': '3',
  'nRotatableBonds': '3'}
```
5. Make a ```dictionary``` of the amino acid ```dictionaries```  like:

```python
{'A': {'MolWT': '89.047678',
  'LogP': '-0.58180',
  'HBondDonors': '3',
  'HBondAcceptors': '3',
  'nAromaticRings': '0',
  'nHeteroAtoms': '3',
  'nRotatableBonds': '3'},
 'C': {'MolWT': '121.019749',
  'LogP': '-0.67190',
  'HBondDonors': '3',
  'HBondAcceptors': '3'
       ...
```

6. Use the ```dictionary``` to find the total molecular weight of the protein

# Techniques:
#### Check out Chapter 41: String Methods in [Python notes for professionals (free ebook)](https://books.goalkicker.com/PythonBook/) for more string methods

## ```split()```

Let's split ```data``` by row. ```split()``` is a function that splits string on a particular character, it works like this:
```python
>>> "Let's split ```data``` by row. ```split()``` is a function that splits string on a particular character".split(' ') 

# splitting on ' ' is default - ü§´
# see how the function comes from the string?
# that's because it's a method that 'belongs' to the string type of object
# run dir(<string>) to see other methods that belong to strings
# or run help(<string>) for more info on strings
>>> ["Let's", 'split', '```data```', 'by', 'row.', '```split()```', 'is', 'a', 'function', 'that', 'splits', 'string', 'on', 'a', 'particular', 'character']
```
## ```for``` loops:
#### For more detail on loops and ```list comprehensions``` (for loops in a single line) look at our [list comprehension tutorial](https://github.com/UoMMIB/Python-Club/blob/master/Tutorials/ListComprehensions.ipynb) or even better: Chapter 21 of [Python notes for professionals](https://books.goalkicker.com/PythonBook/) 


#### Filling ```lists``` and ```dictionaries``` using ```for``` loops:
One way to fill a ```list``` or ```dictionary``` with items using ```for``` loops is to create the ```list``` or ```dictionary``` outside the loop, and then use the ```list``` or ```dictionary``` specific methods to add items to that ```list``` or ```dictionary```:
```python
# things to loop through
letters = ['a','b','c','d','e']
numbers = [1,2,3,4,5]

l = [] # empty list
d = {} # enpty dictionary

for i,j in zip(letters, numbers):
    # loop through letters and numbers at the same time
    # i = letter; j = number
    l.append(i) # add letter to list
    d[i] = j # add number to dictionary under key letter
    
# l = ['a', 'b', 'c', 'd', 'e']
# d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
```

# 1. Split the ```data``` string into a list of rows
# 2. Split each row into a list of values
# to get a list of lists, save that variable as something like ```table```

# 3.1 Extract the top row (column headers) of your ```table``` using *list slicing*
### Keep the top row saved as a variable like ```header```

### You'll need to use list ```slicing``` (chapter 64 in [Python notes for professionals](https://books.goalkicker.com/PythonBook/))

List slicing is the name for getting one or more item from a list, and other objects that behave similarly. It has a distinctive ```[square brackets``` notation. Here are some quick syntax rules for slicing:
```python
l = [1,2,3,4,5,6,7,8,9,10]

# syntax:
l[<start>:<stop>:<step size>]
# leaving out start, stop or step, the interpreter will assume:
<start> = 0
<stop> = end
<step size> = 1
# first item
>>> l[0] # python starts counting at zero - why waste a whole number?
>>> 1
# last item
>>> l[-1]
>>> 10
# items 0-4
>>> l[0:4]
>>> [1, 2, 3, 4]
# 4 onwards
>>> l[4:]
>>> [5, 6, 7, 8, 9, 10]
# ever other number between 2 and 8
>>> l[1:8:2]
>>> [2, 4, 6, 8]

```

# 3.2 Extract the row names (index) from your ```table```

You may have to loop through your list of lists to find these items

# 3.3 Extract the table entries from your ```table```, excluding the headers and the index

# 3.4 Change the ```data type``` of the table entries from ```sting``` to ```float```
### Hints:
```python
>>> '131.094629' + 5
>>> TypeError

>>> float('131.094629') + 5
>>> 136.094629
```
### Use a ```for``` loop within a ```for``` loop, or a ```list comprehension``` within a ```list comprehension```

# 4. Create a ```dictionary``` like: ```{'MolWT': <value>, ...}``` for amino acid ```A``` - alanine
![](alanine.png)

# 5.1 Create a ```dictionary``` for each amino acid's properties, and store each ```dictionary``` within another dictionary like:

```python
{'A': {'MolWT': '89.047678',
  'LogP': '-0.58180',
  'HBondDonors': '3',
  'HBondAcceptors': '3',
  'nAromaticRings': '0',
  'nHeteroAtoms': '3',
  'nRotatableBonds': '3'},
 'C': {'MolWT': '121.019749',
  'LogP': '-0.67190',
  'HBondDonors': '3',
  'HBondAcceptors': '3',
       ...
       ```

# 5.2 - Using the ```dictionary``` 
Information stored in a ```dictionary```can be accessed using ```keys```. Our top layer ```dictionary``` has keys like:

```python
['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']
```

Which correspond to our amino acids. We can use the keys to access the corresponding dictionary items with syntax similar to ```slicing```:

```python
>>> d['A']
>>> {'MolWT': '89.047678',
 'LogP': '-0.58180',
 'HBondDonors': '3',
 'HBondAcceptors': '3',
 'nAromaticRings': '0',
 'nHeteroAtoms': '3',
 'nRotatableBonds': '3'}
```

#### I've made a dictionary called ```d``` below, which contains dictionaries of properties for each amino acid.
# Find the ```nAromaticRings``` of ```W``` (tryptophan)

In [3]:
# answers - for just in case you need them
from backtobasics import   extract_data_with_list_comprehensions
d = extract_data_with_list_comprehensions(data)

# 6. Use this dictionary to find the total MolWT (molecular weight) of the protein 
#### Hint: add 616.5 (molecular weight of heme) to the total weight of all the amino acids

### üß¨ The sequence is at the top of this notebook üß¨

### Steps:
1. Save the sequence above as a string
2. Use the ```<string>.replace(<from>,<to>)``` to replace ```\n``` and ```*``` (end of sequence) characters
3. Loop through the sequence, for each letter, lookup the corresponding ```MolWT```
4. ```sum()``` the ```MolWT``` for each amino acid and add  ```616.5``` to account for the heme

In [4]:
s = '''MTIKEMPQPKTFGELKNLPLLNTDKPVQALMKIADELGEIFKFEAPGRVTRYLS
SQRLIKEACDESRFDKNLSQALKFVRDFAGDGLFTSWTHEKNWKKAHNILLPSFSQQAMKGYHAMM
VDIAVQLVQKWERLNADEHIEVPEDMTRLTLDTIGLCGFNYRFNSFYRDQPHPFITSMVRALDEAM
NKLQRANPDDPAYDENKRQFQEDIKVMNDLVDKIIADRKASGEQSDDLLTHMLNGKDPETGEPLDD
ENIRYQIITFLIAGHETTSGLLSFALYFLVKNPHVLQKAAEEAARVLVDPVPSYKQVKQLKYVGMV
LNEALRLWPTAPAFSLYAKEDTVLGGEYPLEKGDELMVLIPQLHRDKTIWGDDVEEFRPERFENPS
AIPQHAFKPFGNGQRACIGQQFALHEATLVLGMMLKHFDFEDHTNYELDIKETLTLKPEGFVVKAK
SKKIPLGGIPSPSTEQSAKKVRKKGC*'''
s

'MTIKEMPQPKTFGELKNLPLLNTDKPVQALMKIADELGEIFKFEAPGRVTRYLS\nSQRLIKEACDESRFDKNLSQALKFVRDFAGDGLFTSWTHEKNWKKAHNILLPSFSQQAMKGYHAMM\nVDIAVQLVQKWERLNADEHIEVPEDMTRLTLDTIGLCGFNYRFNSFYRDQPHPFITSMVRALDEAM\nNKLQRANPDDPAYDENKRQFQEDIKVMNDLVDKIIADRKASGEQSDDLLTHMLNGKDPETGEPLDD\nENIRYQIITFLIAGHETTSGLLSFALYFLVKNPHVLQKAAEEAARVLVDPVPSYKQVKQLKYVGMV\nLNEALRLWPTAPAFSLYAKEDTVLGGEYPLEKGDELMVLIPQLHRDKTIWGDDVEEFRPERFENPS\nAIPQHAFKPFGNGQRACIGQQFALHEATLVLGMMLKHFDFEDHTNYELDIKETLTLKPEGFVVKAK\nSKKIPLGGIPSPSTEQSAKKVRKKGC*'

# Answers from [backtobasics.py](https://github.com/UoMMIB/Python-Club/blob/master/Tutorials/backtobasics.py)

In [5]:
from backtobasics import clean_seq

clean_seq(s)

'MTIKEMPQPKTFGELKNLPLLNTDKPVQALMKIADELGEIFKFEAPGRVTRYLSSQRLIKEACDESRFDKNLSQALKFVRDFAGDGLFTSWTHEKNWKKAHNILLPSFSQQAMKGYHAMMVDIAVQLVQKWERLNADEHIEVPEDMTRLTLDTIGLCGFNYRFNSFYRDQPHPFITSMVRALDEAMNKLQRANPDDPAYDENKRQFQEDIKVMNDLVDKIIADRKASGEQSDDLLTHMLNGKDPETGEPLDDENIRYQIITFLIAGHETTSGLLSFALYFLVKNPHVLQKAAEEAARVLVDPVPSYKQVKQLKYVGMVLNEALRLWPTAPAFSLYAKEDTVLGGEYPLEKGDELMVLIPQLHRDKTIWGDDVEEFRPERFENPSAIPQHAFKPFGNGQRACIGQQFALHEATLVLGMMLKHFDFEDHTNYELDIKETLTLKPEGFVVKAKSKKIPLGGIPSPSTEQSAKKVRKKGC'

In [6]:
from backtobasics import  find_mw
    
weight = find_mw(clean_seq(s), d) + 616.5
print(weight)

63409.236900999975

# Session 2: 2 Basic

### Aim:
* Use ```bash``` commands to download structural data of BM3 from the internet
* Open files with built-in python commands
* Use string operations from section 1 to extract atom coordinates 
* Handle the coordinates in a ```pandas``` dataframe, find lengths of covalent and non-covaent bonds

# ```bash```
[**bash**](https://en.wikipedia.org/wiki/Bash_%28Unix_shell%29) is ANOTHER programming language used mostly for interacting with Mac and Linux/Unix operating systems.  If you're in a ```colab``` hosted version of this notebook, then the host will be running linux.

For some tasks, ```bash``` is easier. We'll use a small handfull of ```bash``` commands to download structural data for our enzyme, BM3. To invoke a ```bash``` command either:
* Use ```! <command>```, an ```!``` at the line start
* Type ```%%bash``` at the top of a code cell

Here are a few useful ```bash``` one-liners:
```bash
ls # list folder/directory contents
pwd # print name of working directory
cd <folder> # change directory to..
rm <file> # remove file
mv <file> <destination> # move file / folder
cat <file> # print file contents
mkdir <folder name> # make new directory/folder
wget <http/s link> # download link contents to file
```

Most commands have options that give extra functionality. These options are specified like:
```bash
ls -l # list files in long format
ls -lt # long format + sort by creation timestamp (some "flags" can be combined)
ls --help # multi-letter commands usually have a double-dash flag
```

## Exercise -  ```bash```
* find help for  ```wget```
* Use wget (with no additional options) to download this file: ```https://files.rcsb.org/download/1BU7.pdb```
* What's your current working directory called?
* List the contents if your folder - is there a ```.pdb``` file there?

In [7]:
# answer (in python)
from backtobasics  import get_1bu7
get_1bu7()

# Reading files with [**open()**](https://docs.python.org/2/library/functions.html#open)
The most basic way to open a file in python is with:

```python 
open(<filename>, <'r'/'w'/'a'>)
```

which returns a [**file object**](https://docs.python.org/2/library/stdtypes.html#bltin-file-objects). The ```open``` mode options ```'r'```, ```'w'``` and ```'a'``` stand for ```read```, ```write``` and ```'append'``` respectively and apply to text files, but note that there are [other options](https://docs.python.org/2/library/functions.html#open) that apply to binary files. In the context of reading a file this might look like:

```python
>>> file = open('backtobasics.py','r') # open a text file (python is just text)  in read mode
>>> print(file)
>>> <_io.TextIOWrapper name='backtobasics.py' mode='r' encoding='UTF-8'>
>>> print(file.read()) 
```

```
def extract_data_with_for_loops(data):
    # data: string of a table
    table = [] # ready to catch our lists of row items
    # loop through each row by splitting in '\n'  (newline)
    for i in data.split('\n'):
        # i.split('\t') = list of values in each row
        table.append(i.split('\t') ) # add to list
        ...
```
        
```python
>>> file.close() # remember to close your file after
```

## Why close a file?
Check these [answers on stackoverflow](https://stackoverflow.com/questions/25070854/why-should-i-close-files-in-python)
* It uses up RAM - with big files this can slow down your system
* Changes may not be written to the file until it is closed
* Other programs may not be able to access that file (e.g. antivirus)

## Exercise: Writing and appending files
We've written some functions in this notebook, but we haven't written one the prints "python is the best language" 100 times. 
* Write a function that prints "python is the best language" 100 times.
* Open a new ```.py``` file in write mode as a variable like ```file``` and use  ```file.write('<your text (str)>')``` to write your function to the file - close it after
* Check the contents of your file by opening it in ```read``` mode and printing the contents

# ```with``` - the [context manager](https://book.pythontips.com/en/latest/context_managers.html)
Tired of remembering to close files after you're done? Try the context manager:
```python
with open('backtobasics.py', 'r') as f:
    file_contents = f.readlines()
# do something with file_contents
```

This automatically closes the file after the indented code block **and** handles any errors.
```f``` is now the file object, which we can extract with either ```f.read()```, which returns a single string or ```f.readlines()``` which returns a list of strings for each line.



# ```1BU7.pdb```
We've downloaded the [**pdb file**](https://en.wikipedia.org/wiki/Protein_Data_Bank_(file_format)) ```1BU7.pdb``` from the [Protein Data Bank](https://en.wikipedia.org/wiki/Protein_Data_Bank). It contains information about the structure of BM3 in terms of atom coordinates. 
### Aim: Extract Atom coordinates from the file

In [8]:
with open('1BU7.pdb', 'r') as f:
    PDB = f.readlines()
    
print(len(PDB)) # number of lines

9220

### This file format 
```.pdb``` files are strange creatures IMO, they were devised in 1976 with human readability and [punch cards](https://en.wikipedia.org/wiki/Punched_card) in mind. See [**here**](https://journals.iucr.org/a/issues/2008/01/00/sc5004/index.html#4.1.%20Data%20representation) for some history on the PDB. The section of the file can be identified by the leftmost word in each line. Here's a breakdown of some of the fields:
* **REMARK:** General annotation annd description
* **SEQRES:** Sequence of "residues" - a term for amino acids
* **HELIX/SHEET:** [Secondary structure](https://en.wikipedia.org/wiki/Protein_secondary_structure) map of sequence - proteins often fold into [flat sheets](https://en.wikipedia.org/wiki/Beta_sheet) or [helices](https://en.wikipedia.org/wiki/Alpha_helix)
* **ATOM:** Protein atom coordinates
* **HETATM:** Non-protein atom coordinates
* **CONNECT:** Bonds between atoms (by atom number)

In [9]:
for i in PDB[0:4]:
    print(i)
print('...')
for i in PDB[400:404]:
    print(i)
print('...')
for i in PDB[513:517]:
    print(i)
print('...')
for i in PDB[590:600]:
    print(i)
print('...')
for i in PDB[-5:]:
    print(i)

HEADER    OXIDOREDUCTASE                          14-SEP-98   1BU7

TITLE     CRYOGENIC STRUCTURE OF CYTOCHROME P450BM-3 HEME DOMAIN

COMPND    MOL_ID: 1;

COMPND   2 MOLECULE: PROTEIN (CYTOCHROME P450);

...
SEQRES  26 A  455  PRO THR ALA PRO ALA PHE SER LEU TYR ALA LYS GLU ASP

SEQRES  27 A  455  THR VAL LEU GLY GLY GLU TYR PRO LEU GLU LYS GLY ASP

SEQRES  28 A  455  GLU LEU MET VAL LEU ILE PRO GLN LEU HIS ARG ASP LYS

SEQRES  29 A  455  THR ILE TRP GLY ASP ASP VAL GLU GLU PHE ARG PRO GLU

...
HELIX   46  46 GLY B  396  ARG B  398  5                                   3

HELIX   47  47 GLN B  403  HIS B  420  1                                  18

SHEET    1   A 5 ILE A  39  ALA A  44  0

SHEET    2   A 5 ARG A  47  LEU A  52 -1  N  TYR A  51   O  PHE A  40

...
ATOM      5  CB  THR A   1      47.421  33.900  28.149  1.00 66.37           C

ATOM      6  OG1 THR A   1      46.182  34.621  28.231  1.00 60.57           O

ATOM      7  CG2 THR A   1      47.106  32.441  28.435  1.00 70.25           C

ATOM      8  N   ILE A   2      49.559  35.803  27.507  1.00 65.28           N

ATOM      9  CA  ILE A   2      49.925  37.060  26.861  1.00 61.26           C

ATOM     10  C   ILE A   2      48.708  37.635  26.135  1.00 59.65           C

ATOM     11  O   ILE A   2      48.092  36.996  25.282  1.00 56.24           O

ATOM     12  CB  ILE A   2      51.090  36.915  25.868  1.00 56.37           C

ATOM     13  CG1 ILE A   2      52.450  36.666  26.521  1.00 52.40           C

ATOM     14  CG2 ILE A   2      51.141  38.130  24.942  1.00 51.37           C

...
CONECT 7486 7485

CONECT 7492 7345

CONECT 8329 7412

MASTER      339    0   16   47   22    0   35    9 8482    2  148   70

END

# Filtering - Atom Coordinates
### Aim of section:
 * Filter the data to only the atom coordinates

## ```filter()```

```filter``` is a built-in python function that takes in: a ```function``` & a ```collection``` (e.g. a list) and returns every item for which the ```function``` returns ```True```.  It returns a ```generator``` that will actually compute the result when it absolutely has to, like when you call ```list(<generator>)```.

```filter``` is worth knowing about, but it is almost always [simpler and more readable](https://www.artima.com/weblogs/viewpost.jsp?thread=98196) to use a ```[list comprehension]``` to filter. Here's a quick example:

In [10]:
def filtering_critera(item):
    if 'ATOM' in item:
        return True
    else:
        return False
    
print(PDB[600])
filtering_critera(PDB[600]) # demo of function

ATOM     15  CD1 ILE A   2      52.392  36.579  28.028  1.00 47.53           C

True

In [11]:
filter_obj = filter(filtering_critera, PDB)
list(filter_obj)[:20]

['REVDAT   2 2                   4       ATOM   SOURCE SEQRES                     \n',
 'REMARK   3  NUMBER OF NON-HYDROGEN ATOMS USED IN REFINEMENT.                    \n',
 'REMARK   3   PROTEIN ATOMS      : 7342                                          \n',
 'REMARK   3   NUCLEIC ACID ATOMS : 0                                             \n',
 'REMARK   3   HETEROGEN ATOMS    : 142                                           \n',
 'REMARK   3   SOLVENT ATOMS      : 998                                           \n',
 'REMARK   3   OCCUPANCY SUM OF NON-HYDROGEN ATOMS      : NULL                    \n',
 'REMARK   3   OCCUPANCY SUM OF HYDROGEN ATOMS          : NULL                    \n',
 'REMARK 290 THE FOLLOWING TRANSFORMATIONS OPERATE ON THE ATOM/HETATM             \n',
 'REMARK 500 THE FOLLOWING ATOMS ARE IN CLOSE CONTACT.                            \n',
 'REMARK 620 N RES CSSEQI ATOM                                                    \n',
 'REMARK 620 N RES CSSEQI ATOM                                                    \n',
 'ATOM      1  N   THR A   1      47.785  34.623  30.495  1.00 78.19           N  \n',
 'ATOM      2  CA  THR A   1      48.405  34.483  29.188  1.00 66.23           C  \n',
 'ATOM      3  C   THR A   1      48.901  35.826  28.669  1.00 63.58           C  \n',
 'ATOM      4  O   THR A   1      48.690  36.867  29.294  1.00 56.16           O  \n',
 'ATOM      5  CB  THR A   1      47.421  33.900  28.149  1.00 66.37           C  \n',
 'ATOM      6  OG1 THR A   1      46.182  34.621  28.231  1.00 60.57           O  \n',
 'ATOM      7  CG2 THR A   1      47.106  32.441  28.435  1.00 70.25           C  \n',
 'ATOM      8  N   ILE A   2      49.559  35.803  27.507  1.00 65.28           N  \n']

# Exercise:
* Use a ```for``` loop  and an ```if``` statement to extract all the ```ATOM``` lines with this format:

```ATOM      1  N   THR A   1      47.785  34.623  30.495  1.00 78.19           N '```

* Make another to extract all the ```HETATM``` lines with this format:

```HETATM 7345 FE   HEM A 999      51.969  67.648  45.223  1.00 12.09          FE ```

In [12]:
from backtobasics import get_atoms_from_pdb, get_hetatms_from_pdb

atoms = get_atoms_from_pdb(PDB)
hetatms = get_hetatms_from_pdb(PDB)

# üêº ```pandas```: üêº the ```excel``` of python
```pandas``` is a python package (collection of python files) designed to make handling **table data** easy. We've touched on it before in the [UV-Vis](https://github.com/UoMMIB/Python-Club/blob/master/Tutorials/uv-vis-data.ipynb), and in [IntroToDataWranglingWithPandas](https://github.com/UoMMIB/Python-Club/blob/master/Tutorials/IntroToDataWranglingWithPandas.ipynb), and here we are again! Probably because it's one of the most versatile and ubiquitous data handling packages ot there.

## Aim: 
* We'll make ```DataFrames``` of our ```ATOM``` and ```HETATM``` data
* We'll rename the columns
* We'll locate some key atoms
* We'll look at the lengths of covalent and non-covalent bonds

In [14]:
import pandas as pd # we've already done this in session 1, oh well

atoms_df = pd.DataFrame(atoms)
het_df = pd.DataFrame(hetatms)
atoms_df.head() #  how big is this dataFrame? atoms_df.shape

      0  1   2    3  4  5       6       7       8     9     10 11
0  ATOM  1   N  THR  A  1  47.785  34.623  30.495  1.00  78.19  N
1  ATOM  2  CA  THR  A  1  48.405  34.483  29.188  1.00  66.23  C
2  ATOM  3   C  THR  A  1  48.901  35.826  28.669  1.00  63.58  C
3  ATOM  4   O  THR  A  1  48.690  36.867  29.294  1.00  56.16  O
4  ATOM  5  CB  THR  A  1  47.421  33.900  28.149  1.00  66.37  C

## Exercise: find size (n rows & columns) of ```het_df``` and ```atoms_df```

# Joining DataFrames - ```append```

## info about append

In [15]:
df = atoms_df.append(het_df)
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,ATOM,1,N,THR,A,1,47.785,34.623,30.495,1.00,78.19,N
1,ATOM,2,CA,THR,A,1,48.405,34.483,29.188,1.00,66.23,C
2,ATOM,3,C,THR,A,1,48.901,35.826,28.669,1.00,63.58,C
3,ATOM,4,O,THR,A,1,48.690,36.867,29.294,1.00,56.16,O
4,ATOM,5,CB,THR,A,1,47.421,33.900,28.149,1.00,66.37,C
...,...,...,...,...,...,...,...,...,...,...,...,...
1135,HETATM,8480,O,HOH,B1531,31.964,112.619,21.172,1.00,41.73,O,None
1136,HETATM,8481,O,HOH,B1532,51.883,104.889,77.188,1.00,41.17,O,None
1137,HETATM,8482,O,HOH,B1533,54.523,102.725,73.727,1.00,39.61,O,None
1138,HETATM,8483,O,HOH,B1534,61.834,108.334,58.964,1.00,38.48,O,None
1139,HETATM,8484,O,HOH,B1535,45.659,91.502,64.596,1.00,46.41,O,None

# renaming columns & index
### immutable, reassignment

In [30]:
df.columns = ['Type','ID','Atom Type','Residue-name','Chain ID','?','x','y','z','b-factor','??','Element symbol']
df.head()

,Type,ID,Atom Type,Residue-name,Chain ID,?,x,y,z,b-factor,??,Element symbol
0,ATOM,1,N,THR,A,1,47.785,34.623,30.495,1.00,78.19,N
1,ATOM,2,CA,THR,A,1,48.405,34.483,29.188,1.00,66.23,C
2,ATOM,3,C,THR,A,1,48.901,35.826,28.669,1.00,63.58,C
3,ATOM,4,O,THR,A,1,48.690,36.867,29.294,1.00,56.16,O
4,ATOM,5,CB,THR,A,1,47.421,33.900,28.149,1.00,66.37,C

### dtypes really fast

In [32]:
for i in 'x','y','z':
    df[i] = df[i].astype(float)

# ```scipy``` https://en.wikipedia.org/wiki/SciPy
* install - pip, conda
* some features & applications
* today - spatial
* data structure - numpy arrays - background - n dim, generalisable